<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/registerEvent/{{eventId}}" method="post">
        <input type="text" placeholder="Name" name="Username" />
        <input type="email" placeholder="email" name="email" />
        <input type="tel" placeholder="phone" name="Mobile" />
        <button >Register</button>

      </form>
    </div>

  </body>

  
</html>